<nav class="fixed w-full flex items-center justify-between h-16 px-6 bg-linear-to-b from-blue-500 to-indigo-400 shadow-md">

    <div class="shrink-0">
        <h1 class="text-xl font-semibold text-white">Skemmarize</h1>
    </div>

    <div class="flex items-center cursor-pointer">
        <div
            class="w-10 h-10 overflow-hidden border-2 border-white rounded-full transition duration-150 ease-in-out hover:border-indigo-300">
            <img src="https://img.freepik.com/premium-vector/person-with-blue-shirt-that-says-name-person_1029948-7040.jpg?semt=ais_se_enriched&w=740&q=80" alt="User Avatar" class="object-cover w-full h-full">
        </div>
    </div>
</nav>